:root {
  /* color  */
  --primary-color: #3f7ee8;
  --secondary-color: #ff9800;
  --background-dark: #484849;
  /* text size */
  --text-xxxlarge: 3.5rem;
  --text-xxlarge: 2.5rem;
  --text-xlarge: 1.5rem;
  --text-large: 1.25rem;
  --text-midium: 1rem;
  --text-small: 0.875rem;
  --text-xsmall: 0.75rem;
  --text-xxsmall: 0.625rem;
  --text-xxxsmall: 0.5rem;
  /* width size*/
  --width-xxxlarge: 100rem;
  --width-xxlarge: 40rem;
  --width-xlarge: 30rem;
  --width-large: 20rem;
  --width-medium: 15rem;
  --width-small: 10rem;
  --width-xsmall: 5rem;
  --width-xxsmall: 2rem;
  --width-xxxsmall: 1rem;
  --width-xxxxsmall: 0.5rem;
  /* height size*/
  --height-xxxlarge: 100rem;
  --height-xxlarge: 40rem;
  --height-xlarge: 30rem;
  --height-large: 20rem;
  --height-medium: 15rem;
  --height-small: 10rem;
  --height-xsmall: 5rem;
  --height-xxsmall: 3.7rem;
  --height-xxxsmall: 1rem;
  --height-xxxxsmall: 0.5rem;
  /* border radius */
  --border-radius-xxxlarge: 100rem;
  --border-radius-xxlarge: 40rem;
  --border-radius-xlarge: 30rem;
  --border-radius-large: 20rem;
  --border-radius-medium: 15rem;
  --border-radius-small: 10rem;
  --border-radius-xsmall: 5rem;
  --border-radius-xxsmall: 2rem;
  --border-radius-xxxsmall: 1rem;
  --border-radius-xxxxsmall: 0.5rem;
  /* border width */
  --border-width-xxxlarge: 100rem;
  --border-width-xxlarge: 40rem;
  --border-width-xlarge: 30rem;
  --border-width-large: 20rem;
  --border-width-medium: 15rem;
  --border-width-small: 10rem;
  --border-width-xsmall: 5rem;
  --border-width-xxsmall: 2rem;
  --border-width-xxxsmall: 1rem;
  --border-width-xxxxsmall: 0.5rem;
  /* font size */
  --font-size-xxxlarge: 3.5rem;
  --font-size-xxlarge: 2.5rem;
  --font-size-xlarge: 1.5rem;
  --font-size-large: 1.25rem;
  --font-size-medium: 1rem;
  --font-size-small: 0.875rem;
  --font-size-xsmall: 0.75rem;
  --font-size-xxsmall: 0.625rem;
  --font-size-xxxsmall: 0.5rem;
  --font-size-xxxxsmall: 0.25rem;
  /* font weight */
  --font-weight-xxxlarge: 700;
  --font-weight-xxlarge: 600;
  --font-weight-xlarge: 500;
  --font-weight-large: 400;
  --font-weight-medium: 300;
  --font-weight-small: 200;
  --font-weight-xsmall: 100;
  --font-weight-xxsmall: 50;
  --font-weight-xxxsmall: 25;
  --font-weight-xxxxsmall: 10;
  /* padding */
  --padding-xxxlarge: 100rem;
  --padding-xxlarge: 40rem;
  --padding-xlarge: 30rem;
  --padding-large: 20rem;
  --padding-medium: 15rem;
  --padding-small: 10rem;
  --padding-xsmall: 5rem;
  --padding-xxsmall: 2rem;
  --padding-xxxsmall: 1rem;
  --padding-xxxxsmall: 0.5rem;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
